<!DOCTYPE html>
{% load static %}
<html ng-app="Ruenoor">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DATOR</title>

    <link rel="stylesheet" href='{% static 'css/font-awesome.min.css' %}'>
</head>
<body>
<div ng-view class="panel-default"></div>
</body>

<link href='{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}' rel="stylesheet" type="text/css"/>
<link href='{% static 'css/dator.css' %}' rel="stylesheet" type="text/css"/>
<link href='{% static 'css/bootstrap.min.css' %}' rel="stylesheet" type="text/css"/>
<script type="text/javascript" src='{% static "js/lib/ace/ace.js" %}'></script>

<script type="text/javascript" language="javascript" src='{% static 'bower_components/jquery/dist/jquery.min.js' %}'></script>
<script type="text/javascript" language="javascript" src='{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}'></script>
<script type="text/javascript" language="javascript" src='{% static 'bower_components/angular/angular.min.js' %}'></script>

<script type="text/javascript" language="javascript" src='{% static 'bower_components/angular-route/angular-route.min.js' %}'></script>
<script type="text/javascript" language="javascript" src='{% static 'bower_components/lodash/lodash.min.js' %}'></script>
<script type="text/javascript" language="javascript" src='{% static 'bower_components/restangular/dist/restangular.min.js' %}'></script>
<script type="text/javascript" language="javascript" src='{% static "bower_components/dygraphs/dygraph-combined.js" %}'></script>
<script type="text/javascript" language="javascript" src='{% static "bower_components/angular-ui-ace/ui-ace.js" %}'></script>
<script type="text/javascript" langauge="javascript" src='{% static 'js/commands.js' %}'></script>
<script type="text/javascript" langauge="javascript" src='{% static 'js/ruenoor.js' %}'></script>
<script type="text/javascript" langauge="javascript" src='{% static 'js/main.js' %}'></script>
<script type="text/javascript" langauge="javascript" src='{% static 'js/editor.js' %}'></script>
<script type="text/javascript" langauge="javascript" src='{% static 'js/localComputer.js' %}'></script>
<script type="text/javascript" langauge="javascript" src='{% static 'js/signalGraph.js' %}'></script>

</html>
