<launch>

    <arg name="car"/>


    <node
        pkg="rosserial_python"
        type="serial_node.py"
        launch-prefix="xterm -e"
        name="serial_node"
        required="true"
        ns="$(arg car)"
    />
    
    <node
        pkg="network_testing"
        type="master_handle.py"
        name="master_car_handler"
        required="true"
    />


</launch>
