<library path="src">
  <class name="PyConsole" type="rqt_py_console.py_console.PyConsole" base_class_type="qt_gui_py::Plugin">
    <description>
      A Python GUI plugin providing an interactive Python console.
    </description>
    <qtgui>
      <group>
        <label>Miscellaneous Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to miscellaneous tools.</statustip>
      </group>
      <label>Python Console</label>
      <icon type="theme">applications-python</icon>
      <statustip>A Python GUI plugin providing an interactive Python console.</statustip>
    </qtgui>
  </class>
</library>
