<div ng-controller="MainControl">
    <div class="col-sm-11" style="margin-top: 30px;">
        <div class="panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Local Computers</div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>UUID</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="localComputer in localComputers">
                            <td>
                                <a href="/dator/#/local_computer/{{ localComputer.id }}">{{ localComputer.name }}</a>
                            </td>
                            <td>
                                <a href="/dator/#/local_computer/{{ localComputer.id }}">{{ localComputer.uuid }}</a>
                            </td>
                            <td>
                                <button class="pull-right" ng-click="deleteComputer(localComputer.id)"><b>x</b></button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="panel-default">
                    <div class="panel-body">
                        <button class="btn btn-default" ng-click="claimComputer()">Claim Computer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Programs</div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="program in programs">
                            <td><a href="/dator/#/editor/{{ program.id }}">{{ program.name }}</a></td>
                            <td>{{ program.description }}</td>
                            <td>
                                <button class="pull-right" ng-click="deleteProgram(program.id)"><b>x</b></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-default">
                    <div class="panel-body">
                        <button class="btn btn-default" ng-click="newProgram()">New Program</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
