actionlib==1.11.9
algopy==0.5.5
angles==1.9.11
asn1crypto==0.23.0
Babel==2.2.0
backports.shutil-get-terminal-size==1.0.0
bondpy==1.7.19
boto3==1.4.7
botocore==1.7.43
camera-calibration-parsers==1.11.12
catkin==0.7.6
catkin-pkg==0.3.9
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
Cheetah==2.4.4
colorama==0.3.3
configobj==4.7.2
cryptography==3.2
cv-bridge==1.12.4
cycler==0.9.0
decorator==4.1.2
Delorean==0.6.0
diagnostic-analysis==1.9.2
diagnostic-common-diagnostics==1.9.2
diagnostic-updater==1.9.2
Django==1.8.1
-e git://github.com/django-tastypie/django-tastypie@256ebe1de9a78dfb5d4d6e938b813cf4c5c4ac1b#egg=django_tastypie
docutils==0.14
dynamic-reconfigure==1.5.48
easysetup==0.0.19
empy==3.3.2
enum34==1.1.6
factory-boy==2.5.2
Faker==0.8.6
future==0.14.3
futures==3.1.1
gencpp==0.5.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.8
gennodejs==2.0.1
genpy==0.6.5
html5lib==0.999
httplib2==0.8
humanize==0.5.1
idna==2.6
interactive-markers==1.11.3
ipaddress==1.0.16
ipython==5.5.0
ipython-genutils==0.2.0
jmespath==0.9.3
json-patch==0.1
json-pointer==0.1.2
jsonpatch==1.3
jsonpointer==1.0
keyring==3.5
laser-geometry==1.6.4
launchpadlib==1.10.2
lazr.authentication==0.1.3
lazr.restfulclient==0.13.1
lazr.uri==1.0.3
lockfile==0.10.2
Markdown==2.6.5
matplotlib==1.5.1
meld3==1.0.2
message-filters==1.12.7
ndg-httpsclient==0.4.0
netifaces==0.10.4
nmea-navsat-driver==0.5.0
numdifftools==0.9.20
numpy==1.13.3
oauth==1.0.1
pandas==0.21.0
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.3.0
pickleshare==0.7.4
pluginlib==1.10.5
prettytable==0.7.2
prompt-toolkit==1.0.15
psutil==4.0.0
ptyprocess==0.5.2
pyasn1==0.3.7
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.3
Pygments==2.2.0
pyOpenSSL==17.3.0
pyparsing==2.2.0
pyroute2==0.3.15
pyserial==3.4
python-dateutil==2.4.2
python-mimeparse==0.1.4
python-qt-binding==0.3.3
pytz==2017.3
PyYAML==3.12
qt-dotgraph==0.3.7
qt-gui==0.3.7
qt-gui-cpp==0.3.7
qt-gui-py-common==0.3.7
requests==2.18.4
resource-retriever==1.12.3
rosbag==1.12.7
rosboost-cfg==1.13.5
rosclean==1.13.5
roscreate==1.13.5
rosgraph==1.12.7
roslaunch==1.12.7
roslib==1.13.5
roslint==0.11.0
roslz4==1.12.7
rosmake==1.13.5
rosmaster==1.12.7
rosmsg==1.12.7
rosnode==1.12.7
rosparam==1.12.7
rospkg==1.1.4
rospy==1.12.7
rosserial-client==0.7.6
rosserial-python==0.7.6
rosservice==1.12.7
rostest==1.12.7
rostopic==1.12.7
rosunit==1.13.5
roswtf==1.12.7
rqt-action==0.4.9
rqt-bag==0.4.10
rqt-bag-plugins==0.4.10
rqt-console==0.4.8
rqt-dep==0.4.8
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.11
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.8
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.7
rqt-robot-steering==0.5.8
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.7
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.8
rqt-web==0.4.8
rviz==1.12.13
s3transfer==0.1.11
scandir==1.6
scipy==1.0.0
SecretStorage==2.0.0
sensor-msgs==1.12.5
simplegeneric==0.8.1
simplejson==3.3.1
six==1.9.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.7.19
ssh-import-id==3.21
supervisor==3.3.3
testresources==1.0.0
text-unidecode==1.1
tf==1.11.9
tf-conversions==1.11.9
tf2-kdl==0.5.16
tf2-py==0.5.16
tf2-ros==0.5.16
topic-tools==1.12.7
traitlets==4.3.2
tzlocal==1.4
urllib3==1.22
wadllib==1.3.2
wcwidth==0.1.7
wsgi-intercept==1.0.1
xacro==1.11.2
zope.interface==4.0.5
