<library path="src">
  <class name="ServiceCaller" type="rqt_service_caller.service_caller.ServiceCaller" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin calling ROS services.
    </description>
    <qtgui>
      <group>
        <label>Services</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to ROS services.</statustip>
      </group>
      <label>Service Caller</label>
      <icon type="theme">media-playback-start</icon>
      <statustip>A Python GUI plugin for calling ROS services.</statustip>
    </qtgui>
  </class>
</library>
