<library path="src">
  <class name="Publisher" type="rqt_publisher.publisher.Publisher" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin publishing ROS messages.
    </description>
    <qtgui>
      <group>
        <label>Topics</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to ROS topics.</statustip>
      </group>
      <label>Message Publisher</label>
      <icon type="theme">media-playback-start</icon>
      <statustip>A Python GUI plugin for publishing ROS messages.</statustip>
    </qtgui>
  </class>
</library>
