<launch>

    <!-- SYSTEM MODEL -->
    <!-- vehicle parameters -->
    <param name="L_a" type="double" value="0.125" />
    <param name="L_b" type="double" value="0.125" />
    <param name="m" type="double" value="1.98" />
    <param name="I_z" type="double" value="0.03" />
        
    <!-- Track parameters -->
    <param name="trackShape" type="str" value="oval" />

   
    <!-- VISUALIZATION -->
    <node pkg="barc" type="plotCarTrajectory.py" name="visualization" output="screen"/>


    <!-- SIMULATOR -->
    <node pkg="barc" type="vehicleSimulator.py" name="simulator" output="screen">
        <!-- delay in the simulator -->
        <param name="delay_df" type="double" value="0.0" />
        <param name="delay_a" type="double" value="0.0" />
        <!-- simulator model parameters -->
        <param name="c_f" type="double" value="0.05" />
        <param name="dt" type="double" value="0.01" />
        <!-- Tire model parameters -->
        <param name="B" type="double" value="6.0" />
        <param name="C" type="double" value="1.6" />
        <param name="mu" type="double" value="0.8" />
        <param name="g" type="double" value="9.81" />
        <!-- simulator sensor noise -->
        <param name="n_bound" type="double" value="1.5" />
        <param name="x_std" type="double" value="0.02" />
        <param name="y_std" type="double" value="0.02" />    
        <param name="v_std" type="double" value="0.0" />    
        <param name="ax_std" type="double" value="1.0" />
        <param name="ay_std" type="double" value="1.0" />
        <param name="psiDot_std" type="double" value="0.0" />
    </node>
    
    <!--DYNAMIC OBSERVER-->  
    <node pkg="barc" type="stateEstimator.py" name="state_estimator" output="screen">
    <!-- delay in state estuiamtor -->
        <param name="delay_df" type="double" value="0.0" />
        <param name="delay_a" type="double" value="0.0" />
        <!-- ekf properties -->
        <param name="Q_x" type="double" value="0.01" />
        <param name="Q_y" type="double" value="0.01" />
        <param name="Q_vx" type="double" value="0.01" />
        <param name="Q_vy" type="double" value="0.01" />
        <param name="Q_ax" type="double" value="1.0" />
        <param name="Q_ay" type="double" value="1.0" />
        <param name="Q_psi" type="double" value="0.0001" />
        <param name="Q_psiDot" type="double" value="1.0" />
        <param name="R_x" type="double" value="1.0" />
        <param name="R_y" type="double" value="1.0" />
        <param name="R_vx" type="double" value="0.1" />
        <param name="R_vy" type="double" value="0.01" />
        <param name="R_ax" type="double" value="10.0" />
        <param name="R_ay" type="double" value="10.0" />
        <param name="R_psiDot" type="double" value="0.001" />
    </node>

    <!-- LOW LEVEL CONTROLLER -->
    <!--<node pkg="barc" type="controller_low_level.py" name="low_level_controller" /> -->

     <!-- CONTROL -->
    <node pkg="barc" type="controllerMain.py" name="control" output="screen">
        <param name="mode" type="str" value="simulations" />
        <param name="saveData" type="bool" value="false" />
    </node>


</launch>
