<launch>
    <!-- SYSTEM MODEL -->
    <!-- vehicle parameters -->
    <param name="L_a" type="double" value="0.125" />
    <param name="L_b" type="double" value="0.125" />
    <param name="m" type="double" value="1.98" />
    <param name="I_z" type="double" value="0.24" />

    <!-- SIMULATOR -->
    <node pkg="barc" type="barc_simulator_dyn.jl" name="barc_sim" output="screen" />
</launch>
