<launch>
    <!-- CAMERA -->
    <node pkg="uvc_camera" type="uvc_camera_node" name="barc_cam">
        <param name="index" value="0"/>
        <param name="device" value="/dev/video0"/>
        <param name="width" value="640"/>
        <param name="height" value="480"/>
    </node>

    <node pkg="image_transport" type="republish" name="compressed_transformation"
        args="in:=/image_raw compressed out:=/image_transformed" />

</launch>
