<launch>
    <!-- Machines -->
    <machine name="odroid_ego" address="192.168.10.176" user="odroid" timeout="20.0" env-loader="/home/odroid/barc/env_loader_odroid.sh"/>
    <machine name="odroid_obs" address="192.168.10.238" user="odroid" timeout="20.0" env-loader="/home/odroid/barc/env_loader_odroid.sh"/>
    <machine name="this-pc" address="192.168.10.147" timeout="20.0" env-loader="/home/mpcubuntu/barc/env_loader_pc.sh"/>
    
       <!-- IMU -->
    <node machine="odroid_ego" pkg="myahrs_driver" type="myahrs_driver" name="imu_ego">
    	<remap from="/imu/data" to="imu1/data" />
    	<remap from="/imu/data_raw" to="imu1/raw" />
    	<remap from="/imu/mag" to="imu1/mag" />
    	<remap from="/imu/temperature" to="imu1/temp" />
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="115200" />
    </node>

    <node machine="odroid_obs" pkg="myahrs_driver" type="myahrs_driver" name="imu_obs">
    	<remap from="/imu/data" to="imu2/data" />
    	<remap from="/imu/data_raw" to="imu2/raw" />
    	<remap from="/imu/mag" to="imu2/mag" />
    	<remap from="/imu/temperature" to="imu2/temp" />
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="115200" />
    </node>

</launch>
