<launch>

    <!-- SYSTEM MODEL -->
    <!-- vehicle parameters -->
    <param name="L_a" type="double" value="0.125" />
    <param name="L_b" type="double" value="0.125" />
    <param name="m" type="double" value="1.98" />
    <param name="I_z" type="double" value="0.24" />
    <param name="dt" type="double" value="0.1" />
    <param name="num_agents" type="int" value="1" />

    <!-- MACHINES -->
    <!-- <machine name="yoga" address="127.0.0.1" user="lukas" timeout="20.0" env-loader="/home/lukas/barc/env_loader_yoga.sh" /> -->
    <!-- <machine name="yoga" address="192.168.10.74" user="lukas" timeout="20.0" env-loader="/home/lukas/barc/env_loader_yoga.sh" /> -->
    <machine name="ubuntu-pc" address="10.0.1.3" user="mpcubuntu" timeout="20.0" env-loader="/home/mpcubuntu/barc/env_loader_pc_vis.sh"/>
    <machine name="odroid" address="192.168.10.213" user="odroid" timeout="20.0" env-loader="/home/odroid/barc/env_loader_odroid.sh"/>
    <machine name="odroid_2" address="10.0.1.2" user="odroid" timeout="20.0" env-loader="/home/odroid/barc/env_loader_odroid.sh"/>

    <!-- LOW LEVEL CONTROLLER -->
    <node machine="ubuntu-pc" pkg="barc" type="controller_low_level_lukas.py" name="low_level_controller" output="screen" >
        <param name="mode" type="str" value="corner_stiffness" />

        <param name="acceleration" type="double" value="3.0" />
        <param name="steering" type="double" value="-0.3" />

        <param name="acceleration_1" type="double" value="0.0" />
        <param name="acceleration_2" type="double" value="0.0" />
        <param name="acceleration_3" type="double" value="0.0" />

        <param name="steering_pwm" type="double" value="83.3" />
        <param name="acceleration_pwm" type="double" value="103.0" />
        <param name="acceleration_neg_pwm" type="double" value="40.0" />
    </node>

    <!-- IMU -->
    <node machine="odroid_2" pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver" >
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="115200" />
    </node>

    <!-- ARDUINO -->
    <!--  * encoders and ultrasound sensors -->
    <node machine="odroid_2" pkg="rosserial_python" type="serial_node.py" name="arduino_node" output="screen" >
        <param name="port" value="/dev/ttyUSB0" />
    </node>

</launch>
