<launch>
    <!-- DEFINE PARAMETERS -->
    <!-- Vehicle -->
    <param name="L_a" type="double" value="0.125" />
    <param name="L_b" type="double" value="0.125" />
    <param name="m" type="double" value="1.98" />
    <param name="I_z" type="double" value="0.24" />

    <!-- Tire -->
    <param name="tire_model/B" type="double" value="0.3" />
    <param name="tire_model/C" type="double" value="1.25" />
    <param name="tire_model/mu" type="double" value="0.234" />

    <!-- Control -->
    <param name="input_gain" type="double" value="0.3" />
    <param name="air_drag_coeff" type="double" value="0.1308" />
    <param name="friction" type="double" value="0.1711" />
    
    <!-- Further parameters -->
    <param name="est_mode" type="double" value="3" />

    <!-- Machines -->
    <machine name="odroid" address="192.168.100.100" user="odroid" timeout="20.0" env-loader="/opt/ros/indigo/env.sh"/>
    <machine name="this-pc" address="192.168.100.101" timeout="20.0" env-loader="/opt/ros/kinetic/env.sh"/>
    
    <!-- START NODES -->
    <!-- Simulator -->
    <node machine="this-pc" pkg="barc" type="barc_simulator_dyn.jl" name="barc_sim" output="screen" />

    <!-- Estimator -->
    <node machine="odroid" pkg="barc" type="state_estimation_DynBkMdl.py" name="state_estimation_dynamic" output="screen">
        <!-- v_x estimation sample time-->
        <param name="dt_v_enc" type="double" value="0.2" />

        <!-- ekf properties -->
        <param name="q_std" type="double" value="0.1" />
        <param name="psi_std" type="double" value="0.5" />
        <param name="v_std" type="double" value="10.0" />
        <param name="gps_std" type="double" value="0.8" />
        <param name="v_x_min" type="double" value="0.2" />
        <param name="ang_v_std" type="double" value="0.8" />
        <param name="est_mode" type="double" value="4" />
        <param name="dt_v_enc" type="double" value="0.4" />
    </node>

    <!-- LOW LEVEL CONTROLLER -->
    <node machine="odroid" pkg="barc" type="controller_low_level.py" name="low_level_controller" />

    <!-- MPC FOLLOW TRAJECTORY -->
    <node machine="this-pc" pkg="barc" type="LMPC_node.jl" name="MPC" output="screen" />

</launch>
