<launch>

    <!-- Machines -->
    <machine name="odroid" address="192.168.10.101" user="odroid" timeout="20.0" env-loader="/home/odroid/barc/env_loader_odroid_ugo.sh"/>

    <machine name="this-pc" address="192.168.10.157" user="ugo" timeout="20.0" env-loader="/home/mpcubuntu/barc/env_loader_pc.sh"/>
    

    <!-- VISUALIZATION -->
    <node machine="this-pc" pkg="barc" type="plotIMU.py" name="IMUplot" output="screen" >
        <param name="car" value="old" />
    </node>

    <!-- IMU -->
    <node machine="odroid" pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="115200" />
    </node>



</launch>
