<launch>
     <!-- Machines -->
    <machine name="odroid" address="192.168.100.100" user="odroid" timeout="20.0" env-loader="$HOME/barc/scripts/remote_machines/env_loader_odroid.sh"/>
    <machine name="pc" address="192.168.100.101" timeout="20.0" />

    <!-- IMU  -->
    <node machine="odroid" pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="115200" />
    </node>
</launch>
