<launch>
    <!-- SYSTEM MODEL -->
    <!-- flags -->
    <param name="BUFFERSIZE" type="int" value="500" />
    <param name="LMPC_LAP" type="int" value="30" />
    <!-- flags -->
    <param name="sim_flag"      type="bool" value="true" />
    <param name="PF_flag"       type="bool" value="false" />
    <param name="feature_flag"  type="bool" value="false" />
    <param name="race_track"    type="str"  value="MSC_lab" />
    <!-- vehicle parameters -->
    <param name="L_a"   type="double" value="0.125" />
    <param name="L_b"   type="double" value="0.125" />
    <param name="m"     type="double" value="1.98" />
    <param name="I_z"   type="double" value="0.03" />
    <!-- Track parameters -->
    <param name="ds"            type="double" value="0.01" />
    <param name="ey"            type="double" value="0.8" />
    <param name="ey_tighten"    type="double" value="1.0" />

    <!-- CONTROL -->
    <node pkg="barc" type="controllerKinLin.jl" name="controller" output="screen">
        <!-- Controller flags -->
        <param name="TV_FLAG"       type="bool" value="false" />
        <param name="num_spare"     type="int"  value="30"    />
        <param name="SYS_ID_LIN_FLAG" type="bool" value="false" />
        <param name="GP_LOCAL_FLAG" type="bool" value="false" />
        <param name="GP_FULL_FLAG"  type="bool" value="false" />
        <!-- Controller parameters -->
        <param name="dt"        type="double" value="0.1" />
        <param name="c_f"       type="double" value="0.5" />
        <param name="delay_df"  type="int" value="1" />
        <param name="delay_a"   type="int" value="1" />
        <param name="N"         type="int" value="10" />
        <param name="n_state"   type="int" value="4" />
        <!-- Safe set parameters -->
        <param name="Nl"        type="int" value="2" />
        <param name="Np"        type="int" value="10" />
        <!-- SYS ID parameters -->
        <param name="feature_Nl"    type="int" value="2" />
        <param name="feature_Np"    type="int" value="30" />
    </node>

    <!-- VISUALIZATION -->
    <node pkg="barc" type="visualizeCar.py" name="visualization" output="screen"/>

    <!-- SIMULATOR -->
    <node pkg="barc" type="simulatorDyn.py" name="simulator" output="screen">
        <!-- GP related data -->
        <param name="num_spare"         type="int"  value="30" />
        <param name="GP_LOCAL_FLAG"     type="bool" value="false" />
        <param name="GP_FULL_FLAG"      type="bool" value="false" />
        <!-- delay in the simulator -->
        <param name="delay_df"  type="double" value="0.0" />
        <param name="delay_a"   type="double" value="0.0" />
        <!-- simulator model parameters -->
        <param name="c_f"   type="double" value="0.05" />
        <param name="dt"    type="double" value="0.01" />
        <!-- Tire model parameters -->
        <param name="B"     type="double" value="6.0" />
        <param name="C"     type="double" value="1.6" />
        <param name="mu"    type="double" value="0.8" />
        <param name="g"     type="double" value="9.81" />
        <!-- simulator sensor noise -->
        <param name="n_bound"       type="double" value="1.5" />
        <param name="x_std"         type="double" value="0.0" />
        <param name="y_std"         type="double" value="0.0" />    
        <param name="v_std"         type="double" value="0.0" />    
        <param name="ax_std"        type="double" value="0.0" />
        <param name="ay_std"        type="double" value="0.0" />
        <param name="psiDot_std"    type="double" value="0.0" />
    </node>

    <!--DYNAMIC OBSERVER-->
    <node pkg="barc" type="stateEstimator.py" name="state_estimator" output="screen">
        <!-- delay in state estuiamtor -->
        <param name="dt"  type="double" value="0.0" />
        <param name="delay_df"  type="double" value="0.0" />
        <param name="delay_a"   type="double" value="0.0" />
        <!-- ekf properties -->
        <param name="Q_x"       type="double" value="0.0" />
        <param name="Q_y"       type="double" value="0.0" />
        <param name="Q_vx"      type="double" value="0.0" />
        <param name="Q_vy"      type="double" value="0.0" />
        <param name="Q_ax"      type="double" value="1.0" />
        <param name="Q_ay"      type="double" value="1.0" />
        <param name="Q_psi"     type="double" value="0.0" />
        <param name="Q_psiDot"  type="double" value="1.0" />
        <param name="R_x"       type="double" value="10.0" />
        <param name="R_y"       type="double" value="10.0" />
        <param name="R_vx"      type="double" value="0.1" />
        <param name="R_vy"      type="double" value="0.01" />
        <param name="R_ax"      type="double" value="10.0" />
        <param name="R_ay"      type="double" value="10.0" />
        <param name="R_psiDot"  type="double" value="0.1" />
    </node>

</launch>
