<launch>

    <!-- SYSTEM MODEL -->
    <!-- vehicle parameters -->
    <param name="L_a" type="double" value="0.125" />
    <param name="L_b" type="double" value="0.125" />
    <param name="m" type="double" value="1.98" />
    <param name="I_z" type="double" value="0.24" />
    <param name="dt" type="double" value="0.1" />
    <param name="num_agents" type="int" value="2" />

    <param name="agent_1/color" type="str" value="red" />
    <param name="agent_2/color" type="str" value="blue" />

    <!-- MACHINES -->
    <machine name="yoga" address="192.168.10.74" user="lukas" timeout="20.0" env-loader="/home/lukas/barc/env_loader_yoga.sh" />
    <machine name="ubuntu-pc" address="192.168.10.147" user="mpcubuntu" timeout="20.0" env-loader="/home/mpcubuntu/barc/env_loader_pc_vis.sh"/>
    <machine name="odroid" address="192.168.10.213" user="odroid" timeout="20.0" env-loader="/home/odroid/barc/env_loader_odroid.sh"/>
    <machine name="ugo-MacBookPro" address="192.168.10.157" user="ugo" timeout="20.0" env-loader="/home/ugo/GitHub/barc/env_loader_ugo_visual.sh"/>
    <machine name="odroid_2" address="192.168.10.101" user="odroid" timeout="20.0" env-loader="/home/odroid/barc/env_loader_odroid.sh"/>

    <!--DYNAMIC OBSERVER-->
    <node machine="ubuntu-pc" pkg="barc" type="state_estimation_SensorKinematicModel_lukas.py" name="state_estimation_dynamic_1" output="screen">
        <!-- ekf properties -->
        <param name="q_std" type="double" value="0.1" />
        <param name="psi_std" type="double" value="0.5" />
        <param name="v_std" type="double" value="0.5" />
        <param name="gps_std" type="double" value="0.8" />
        <param name="ang_v_std" type="double" value="0.8" />
        <param name="est_mode" type="double" value="1" />

        <remap from="hedge_imu_fusion" to="agent_1/hedge_imu_fusion" />
        <remap from="imu/data" to="agent_1/imu/data" />
        <remap from="vel_est" to="agent_1/vel_est" />
        <remap from="pos_info" to="agent_1/pos_info" />
        <remap from="ecu" to="agent_1/ecu" />
    </node>

    <!-- IMU -->
    <node machine="odroid" pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="115200" />

        <remap from="imu/data" to="agent_1/imu/data" />
        <remap from="imu/data_raw" to="agent_1/imu/data_raw" />
        <remap from="imu/mag" to="agent_1/imu/mag" />
        <remap from="imu/temperature" to="agent_1/imu/temperature" />
        <remap from="tf" to="agent_1/tf" />
    </node>

    <!-- GPS -->
    <node machine="odroid" pkg="marvelmind_nav" type="hedge_rcv_bin" name="indoor_gps" args="/dev/ttyACM1" >
        <remap from="beacons_pos_a" to="agent_1/beacons_pos_a" />
        <remap from="hedge_pos" to="agent_1/hedge_pos" />
        <remap from="hedge_pos_a" to="agent_1/hedge_pos_a" />
        <remap from="hedge_imu_fusion" to="agent_1/hedge_imu_fusion" />
    </node>
    
    <!-- ARDUINO -->
    <!--  * encoders and ultrasound sensors -->
    <node machine="odroid" pkg="rosserial_python" type="serial_node.py" name="arduino_node" >
        <param name="port" value="/dev/ttyUSB0" />
        <remap from="vel_est" to="agent_1/vel_est" />
        <remap from="ecu_pwm" to="agent_1/ecu_pwm" />
        <remap from="diagnostics" to="agent_1/diagnostics" />
    </node>
    <!-- AGENT 1 NODES-->


    <!--DYNAMIC OBSERVER-->
    <node machine="ubuntu-pc" pkg="barc" type="state_estimation_SensorKinematicModel_lukas.py" name="state_estimation_dynamic_2" output="screen">
        <!-- ekf properties -->
        <param name="q_std" type="double" value="0.1" />
        <param name="psi_std" type="double" value="0.5" />
        <param name="v_std" type="double" value="0.5" />
        <param name="gps_std" type="double" value="0.8" />
        <param name="ang_v_std" type="double" value="0.8" />
        <param name="est_mode" type="double" value="1" />

        <remap from="hedge_imu_fusion" to="agent_2/hedge_imu_fusion" />
        <remap from="imu/data" to="agent_2/imu/data" />
        <remap from="vel_est" to="agent_2/vel_est" />
        <remap from="pos_info" to="agent_2/pos_info" />
        <remap from="ecu" to="agent_2/ecu" />
    </node>

    <!-- IMU -->
    <node machine="odroid_2" pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver_2">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud_rate" value="115200" />

        <remap from="imu/data" to="agent_2/imu/data" />
        <remap from="imu/data_raw" to="agent_2/imu/data_raw" />
        <remap from="imu/mag" to="agent_2/imu/mag" />
        <remap from="imu/temperature" to="agent_2/imu/temperature" />
        <remap from="tf" to="agent_2/tf" />
    </node>

    <!-- GPS -->
    <node machine="odroid_2" pkg="marvelmind_nav" type="hedge_rcv_bin" name="indoor_gps_2" args="/dev/ttyACM1" >
        <remap from="beacons_pos_a" to="agent_2/beacons_pos_a" />
        <remap from="hedge_pos" to="agent_2/hedge_pos" />
        <remap from="hedge_pos_a" to="agent_2/hedge_pos_a" />
        <remap from="hedge_imu_fusion" to="agent_2/hedge_imu_fusion" />
    </node>
    
    <!-- ARDUINO -->
    <!--  * encoders and ultrasound sensors -->
    <node machine="odroid_2" pkg="rosserial_python" type="serial_node.py" name="arduino_node_2" >
        <param name="port" value="/dev/ttyUSB0" />
        <remap from="vel_est" to="agent_2/vel_est" />
        <remap from="ecu_pwm" to="agent_2/ecu_pwm" />
        <remap from="diagnostics" to="agent_2/diagnostics" />
    </node>

    <!-- VISUALIZATION -->
    <node machine="ugo-MacBookPro" pkg="barc" type="plotter.py" name="visualization" output="screen">
        <param name="num_agents" type="int" value="2" />
        <param name="index" type="int" value="2" />
        <param name="agent_1" type="str" value="estimation" />
        <param name="agent_2" type="str" value="estimation" />
    </node>

</launch>
