actionlib==1.11.3
Babel==2.2.0
base-local-planner==1.12.5
bondpy==1.7.16
catkin==0.6.16
cffi==1.4.2
Cheetah==2.4.4
colorama==0.3.3
configobj==4.7.2
cryptography==1.2.1
cv-bridge==1.11.8
Delorean==0.6.0
Django==1.8.1
-e git://github.com/django-tastypie/django-tastypie@256ebe1de9a78dfb5d4d6e938b813cf4c5c4ac1b#egg=django_tastypie-dev
dynamic-reconfigure==1.5.38
easysetup==0.0.19
enum34==1.1.2
factory-boy==2.5.2
future==0.14.3
gencpp==0.5.3
genlisp==0.4.15
genmsg==0.5.6
genpy==0.5.7
gnureadline==6.3.3
html5lib==0.999
httplib2==0.8
humanize==0.5.1
idna==2.0
ipaddress==1.0.16
ipython==3.1.0
jsonpatch==1.3
jsonpointer==1.0
keyring==3.5
laser-geometry==1.6.4
launchpadlib==1.10.2
lazr.authentication==0.1.3
lazr.restfulclient==0.13.1
lazr.uri==1.0.3
lockfile==0.10.2
Markdown==2.6.5
message-filters==1.11.16
ndg-httpsclient==0.4.0
numpy==1.10.4
oauth==1.0.1
pandas==0.16.1
pluginlib==1.10.1
prettytable==0.7.2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.3
pyOpenSSL==0.13
pyserial==2.6
python-dateutil==2.4.2
python-mimeparse==0.1.4
python-qt-binding==0.2.17
pytz==2015.7
PyYAML==3.10
qt-dotgraph==0.2.29
qt-gui==0.2.29
qt-gui-cpp==0.2.29
qt-gui-py-common==0.2.29
requests==2.2.1
rosbag==1.11.16
rosboost-cfg==1.11.11
rosclean==1.11.11
roscreate==1.11.11
rosgraph==1.11.16
roslaunch==1.11.16
roslib==1.11.11
roslz4==1.11.16
rosmake==1.11.11
rosmaster==1.11.16
rosmsg==1.11.16
rosnode==1.11.16
rosparam==1.11.16
rospy==1.11.16
rosservice==1.11.16
rostest==1.11.16
rostopic==1.11.16
rosunit==1.11.11
roswtf==1.11.16
rqt-action==0.3.12
rqt-bag==0.3.12
rqt-bag-plugins==0.3.12
rqt-console==0.3.12
rqt-dep==0.3.12
rqt-graph==0.3.12
rqt-gui==0.2.14
rqt-gui-py==0.2.14
rqt-image-view==0.3.12
rqt-launch==0.3.12
rqt-logger-level==0.3.12
rqt-msg==0.3.12
rqt-plot==0.3.12
rqt-publisher==0.3.12
rqt-py-common==0.3.12
rqt-py-console==0.3.12
rqt-reconfigure==0.3.12
rqt-service-caller==0.3.12
rqt-shell==0.3.12
rqt-srv==0.3.12
rqt-top==0.3.12
rqt-topic==0.3.12
rqt-web==0.3.12
SecretStorage==2.0.0
sensor-msgs==1.11.8
simplejson==3.3.1
six==1.9.0
smclib==1.7.16
ssh-import-id==3.21
testresources==1.0.0
tf==1.11.7
tf2-py==0.5.12
tf2-ros==0.5.12
tzlocal==1.2
urllib3==1.7.1
wadllib==1.3.2
wheel==0.24.0
wsgi-intercept==1.0.1
zope.interface==4.0.5
