<library path="src">
  <class name="RosPackGraph" type="rqt_dep.ros_pack_graph.RosPackGraph" base_class_type="qt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize a ROS package network.
    </description>
    <qtgui>
      <group>
        <label>Introspection</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to introspection.</statustip>
      </group>
      <label>Package Graph</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>A Python GUI plugin for visualizing the ROS package dependencies.</statustip>
    </qtgui>
  </class>
</library>
