<library path="src">
  <class name="Launch" type="rqt_launch.launch_plugin.LaunchPlugin" 
         base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for for edit launch file, run and stop nodes.
    </description>
    <qtgui>
      <group>
        <label>Configuration</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to configuration.</statustip>
      </group>
      <label>Launch (experimental)</label>
      <icon type="theme">mail-message-new</icon>
      <statustip>A Python GUI plugin for editing, rnuning and stopping launch files.</statustip>
    </qtgui>
  </class>
</library>
