<!-- <library path="src"> -->
<library path="lib/libbarc_gui">
  <class name="BARC Plugin" type="barc_gui.gui.MyGUI" base_class_type="rqt_gui_py::Plugin">
    <description>
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>BARC GUI</label>
      <icon type="theme">system-help</icon>
      <statustip>UI</statustip>
    </qtgui>
  </class>
</library>
