<library path="src">
  <class name="BagImagePlugin" type="rqt_bag_plugins.image_plugin.ImagePlugin" base_class_type="rqt_bag::Plugin">
    <description>
      A plugin for rqt_bag for showing images.
    </description>
  </class>

  <class name="BagPlotPlugin" type="rqt_bag_plugins.plot_plugin.PlotPlugin" base_class_type="rqt_bag::Plugin">
    <description>
      A plugin for rqt_bag for plotting data.
    </description>
  </class>
</library>
