<library path="src">
  <class name="LoggerLevel" type="rqt_logger_level.logger_level.LoggerLevel" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin configuring the logger level of ROS nodes.
    </description>
    <qtgui>
      <group>
        <label>Logging</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to logging.</statustip>
      </group>
      <label>Logger Level</label>
      <icon type="theme">format-indent-more</icon>
      <statustip>A Python GUI plugin for configuring the level of ROS loggers.</statustip>
    </qtgui>
  </class>
</library>
