<library path="src">
  <class name="Messages" type="rqt_msg.messages.Messages" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for browsing available ROS message types.
    </description>
    <qtgui>
      <group>
        <label>Topics</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to ROS topics.</statustip>
      </group>
      <label>Message Type Browser</label>
      <icon type="theme">mail-read</icon>
      <statustip>A Python GUI plugin for browsing available ROS message types.</statustip>
    </qtgui>
  </class>
</library>
